<tr class="entry active" data-indent-level="{{indentLevel}}"
    data-is-object="{{isObject}}">
    <td class="key hljs-attr">
        <div class="key-content">
            {{#isObject}}
                <div class="caret-wrapper"><i class="fas fa-caret-right"></i></div>
            {{/isObject}}
            {{^isObject}}
                <div class="no-expand"></div>
            {{/isObject}}
            <span>{{key}}</span>
        </div>
    </td>
    <td class="value {{valueClass}}">{{value}}</td>
</tr>