<div class="tab" id="formatted-json">
    <pre><code>{{#lines}}<span class="line active" data-indent-level="{{indentLevel}}" data-is-object="{{isExpandable}}">{{#isExpandable}}<div class="caret-wrapper active"><i class="fas fa-caret-right"></i></div>{{/isExpandable}}{{^isExpandable}}<div class="no-expand"></div>{{/isExpandable}}<span data-indent-level="{{ indentLevel }}" data-is-expandable="{{ isExpandable }}" class="line-content">{{ content }}</span>&NewLine;</span>{{/lines}}</code></pre>
</div>