.container {
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.tab {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  position: absolute;
  overflow: auto;
  transition: .2s ease-out;

  &.active {
    transform: translateX(0);
  }

  &.left {
    transform: translateX(-100%);
  }

  &.right {
    transform: translateX(+100%);
  }

  &#expandable-json {
    padding: 0.5em;
  }
}

.key {
  padding-right: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.key-content {
  display: flex;
}

.no-expand {
  display: inline-block;
  width: 1rem;
  margin-right: .25rem;
}

.line {
  display: none;
  align-items: center;

  &.active {
    display: flex;
  }

  .caret-wrapper, .no-expand {
    flex-shrink: 0;
  }
}

.caret-wrapper {
  display: inline-block;
  width: 1rem;
  text-align: center;
  margin-right: .25rem;

  &:hover {
    cursor: pointer;
  }

  & i {
    transition: .1s ease-in;
  }

  &.active {
    i {
      transform: rotateZ(90deg);
    }
  }
}

.entry {
  font-family: monospace;
  display: none;

  &.active {
    display: table-row;
  }
}

.error-heading {
  font-size: 2rem;
  margin: 1.5rem 0 1rem .5rem;
}

.error-message {
  margin: 0 0 0 .5rem;
  font-size: 1rem;
}