header {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--dark-overlay);
  border-radius: 1rem;
  padding: .25rem;
  margin: .5rem;
  z-index: 1;

  nav {
    display: flex;
    position: relative;

    .background {
      padding: .25rem 100%;
      border-radius: .5rem;
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      transition: .6s;

      &::after {
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        border-radius: .5rem;
        display: block;
        content: '';
      }
    }
  }

  .tab-link {
    padding: .5rem;
    margin: .25rem;
    transition: .2s ease-out;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }
}