:root {
  --background-color: #f6f6f6;
  --dark-overlay: rgba(0, 0, 0, 0.3);
  --text-color: #2f3337;
  --primary-color: #6290c8;
  --secondary-color: #9cb380;

  @media (prefers-color-scheme: dark) {
    --background-color: #1C1B1B;
    --text-color: #ffffff;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
}

pre {
  width: 100%;
  margin: 0;

  code {
    padding-bottom: 1.5rem !important;
  }
}